*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    position: fixed;
    /* display: flex;
    justify-content: center; */
    background: rgb(2,0,36);
    background: linear-gradient(140deg, rgb(202, 246, 223) 10%, rgba(0,212,255,1) 100%) fixed;
}

.no-touch {
    touch-action: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.container {
    display: grid;
    grid-template-columns: 65% auto;
    grid-template-rows: 75% auto;
    grid-template-areas:
        "perspective flatview"
        "controls controls";
    width: 100vw;
    height: 100vh;
}
.controls {
    overflow-x: hidden;
    overflow-y: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 30px;

    background-color: rgb(202, 202, 202);
    grid-area: controls;
}
.perspective {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;

    background-color: rgb(0, 110, 255);
    grid-area: perspective;
}
.flatview { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;

    background-color: rgb(0, 110, 255);
    grid-area: flatview;
}
#canvas3D {
    width: 100%;
    height: 99%;
    background:rgb(56, 56, 56);
}
#canvas2D {
    width: 100%;
    height: auto;
    background:rgb(56, 56, 56);
}

.instructions {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
}
.sceneSettings {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.sceneSelection {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.wallOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.toggles {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.slider {
    display: flex;
    flex-direction: column;
}

.fovslider {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
